lib/utfxdoc/xml.xsd

<?xml version="1.0"?>
<schema targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns="http://www.w3.org/2001/XMLSchema">

    <attribute name="lang" type="language"/>

    <attribute name="space" default="preserve">
        <simpleType>
            <restriction base="NCName">
                <enumeration value="default"/>
                <enumeration value="preserve"/>
            </restriction>
        </simpleType>
    </attribute>

    <attributeGroup name="specialAttrs">
        <attribute ref="xml:lang"/>
        <attribute ref="xml:space"/>
    </attributeGroup>
</schema>
